USE [master]
GO
/****** Object:  Database [Final_DB]    Script Date: 4/15/2020 7:21:29 PM ******/
CREATE DATABASE [Final_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Final', FILENAME = N'C:\Users\edwin\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Final.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Final_log', FILENAME = N'C:\Users\edwin\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Final.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Final_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Final_DB]
GO
USE [Final_DB]
GO
/****** Object:  Table [dbo].[Courses]    Script Date: 4/15/2020 7:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Course_ID] [int] IDENTITY(0,1) NOT NULL,
	[Teacher_ID] [int] NOT NULL,
	[Department] [nchar](50) NOT NULL,
	[Credit_Load] [numeric](1, 0) NOT NULL,
	[Avaliability] [nchar](10) NULL,
	[Difficulty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Course_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Forum]    Script Date: 4/15/2020 7:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Forum](
	[Post_ID] [numeric](4, 0) IDENTITY(0,1) NOT NULL,
	[Post_Content] [text] NOT NULL,
	[Post_date] [date] NOT NULL,
	[Course_ID] [int] NOT NULL,
	[User_ID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Post_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 4/15/2020 7:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Teacher_ID] [int] IDENTITY(0,1) NOT NULL,
	[FName] [nchar](20) NOT NULL,
	[LName] [nchar](20) NOT NULL,
	[Courses] [nchar](100) NULL,
	[Department] [nchar](50) NOT NULL,
	[College] [nchar](50) NOT NULL,
	[Rating] [numeric](1, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Teacher_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users_Stud]    Script Date: 4/15/2020 7:21:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users_Stud](
	[User_ID] [int] IDENTITY(0,1) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[DateJoined] [date] NOT NULL,
	[CurrentYr] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[User_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD FOREIGN KEY([Teacher_ID])
REFERENCES [dbo].[Teachers] ([Teacher_ID])
GO
ALTER TABLE [dbo].[Forum]  WITH CHECK ADD FOREIGN KEY([Course_ID])
REFERENCES [dbo].[Courses] ([Course_ID])
GO
ALTER TABLE [dbo].[Forum]  WITH CHECK ADD FOREIGN KEY([User_ID])
REFERENCES [dbo].[Users_Stud] ([User_ID])
GO
USE [master]
GO
